[2015-09-21 18:28] rynowak opened #1 "[JsonPatch] Add test operation support"
_From @kirthik on March 20, 2015 9:37_

Test operation in code today does not compare anything. Removing the TODO from code. Pasting code snippet for reference.

[code]

_Copied from original issue: aspnet/Mvc#2218_

[2015-09-21 18:28] rynowak commented on #1
_From @danroth27 on April 1, 2015 16:16_

@kirthik Do we currently return a 400 level error response if someone tries a test operation?

[2015-09-21 18:28] rynowak commented on #1
_From @kirthik on April 1, 2015 17:4_

No. We don't. It does nothing today.

[2015-09-21 18:28] rynowak opened #2 "Security model for JsonPatch support"
_From @danroth27 on March 19, 2015 17:13_

Do we need to have a way to specify different security policy for different JsonPatch actions?

_Copied from original issue: aspnet/Mvc#2206_

[2015-11-02 08:48] MikhailNazarov opened #5 "Consider update version of Newtonsoft.Json"
This project uses "Newtonsoft.Json": "6.0.6" therefore we have conflicts with other our assemblies because they use latest version 7.0.1. Old version of project used 7.0.1 version too (at least beta5)

[2015-11-02 17:31] Eilon commented on #5
The projects generally have the lowest *allowed* dependency. You can always upgrade the version of Json.NET that you're using by specifying the reference in your project's `project.json` file. We want to allow version 6.0.6 and newer, which includes 7.x.

[2015-11-02 17:31] #5 closed

[2016-01-07 10:05] AymanGaafar opened #7 "Honoring Microsoft.AspNet.Mvc.BindAttribute"
Can this component honor the BindAttribute ?

i.e. If the class type that is being patched has an MVC BindAttribute and does not include certain property(ex: Prop1), then if Prop1 was found in the operations passed from the client, it will just be ignored.

[2016-01-14 19:05] victorhurdugaci opened #9 "Change to build to use dotnet"

[2016-01-15 23:09] Eilon commented on #7
No plans to support it at this time.

[2016-01-15 23:10] Eilon commented on #7
Though, it would unlikely ever support MVC's BindAttribute due to layering because JsonPatch can't depend on MVC. But perhaps some other attribute.

Though, can you just use Json.NET's attributes instead? It has a wide variety of features for controlling the serialization/deserialization of types.

[2016-01-16 00:23] #9 closed

[2016-01-18 13:02] AymanGaafar commented on #7
I imagined the layering problem would cause this not to be implemented, but I think the Json attributes would work just like the BindAttributes, though I would highly recommend put this in the documentation if any.

[2016-01-18 13:02] #7 closed

[2016-04-01 23:41] rynowak opened #15 "Repository in project.json is wrong"
https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/project.json#L13

[2016-04-06 16:30] benfoster opened #16 "Cannot get this to work in ASP.NET Core MVC"
Controller:

[code]

When I make the following request:

[code]

No operations are bound to the `patch` parameter and therefore no changes are made.

[2016-04-06 17:16] benfoster commented on #16
Missing `[FromBody]`

doh!

[2016-04-06 17:16] #16 closed

[2016-04-11 12:25] jchannon opened #17 "Nancy compliancy"
I just read the great article from @benfoster http://benfoster.io/blog/aspnet-core-json-patch-partial-api-updates and was curious if anyone has tried or would be willing to try to see if this would work with [Nancy](http://github.com/nancyfx/nancy)?

[2016-04-11 12:43] benfoster opened #18 "Honour Validation attributes"
Currently only type checking is performed. It would be good if the object adaptor also honoured validation attributes on the object for example:

[code]

Currently I could set the age property to `10` using a patch operation.

[2016-04-11 13:11] jchannon commented on #17
**UPDATE** I've discovered that that MVC functionality comes from a MVC extension so hopefully we could do the same for Nancy https://github.com/aspnet/Mvc/blob/master/src/Microsoft.AspNet.Mvc.Formatters.Json/JsonPatchExtensions.cs

[2016-04-12 23:20] dougbu commented on #18
Object validation of HTTP data using validation attributes is an MVC feature. What is your end-to-end scenario? Why have you chosen not to use MVC in this scenario?

[2016-04-14 18:21] Eilon commented on #15
Fixed in https://github.com/aspnet/JsonPatch/commit/78d3428eb7494f7f8e53fc15b5ca8e84a892ed55.

[2016-04-14 18:21] #15 closed

[2016-04-15 13:31] benfoster commented on #18
We are using MVC. In the above scenario we'd have to manually invoke the validator on every patched object. You're currently doing type checking - it would be good if we had the ability to override this behaviour to also perform additional validation.

[2016-04-18 21:03] Eilon commented on #18
Seems reasonable to me, but this isn't planned at this time.

[2016-04-18 21:05] Eilon commented on #17
Yeah the JsonPatch feature here is technically even completely independent of ASP.NET. If you notice, [this project](https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/project.json) doesn't reference anything from ASP.NET, so it's just a plain old class library and can theoretically be used anywhere, as long as you have the right hook-up. So, ASP.NET Core MVC just happ

[2016-04-18 21:07] jchannon commented on #17
I hooked it here if interested https://github.com/jchannon/nancy.jsonpatch

On Monday, 18 April 2016, Eilon Lipton <notifications@github.com> wrote:

[2016-04-18 21:09] jchannon commented on #17
Just realised there is this non core library
https://github.com/DSaunders/Nancy.JsonPatch/blob/master/README.md

On Monday, 18 April 2016, Jonathan Channon <jonathan.channon@gmail.com>
wrote:

[2016-04-18 22:37] Eilon commented on #17
Nice!

[2016-05-22 09:50] Daniel15 opened #23 "Incompatible with netstandard1.5?"
I'm trying to upgrade one of my libraries from ASP.NET 5 RC1 to ASP.NET Core RC2. I'm seeing the following error:

[code]

The `Newtonsoft.Json` dependency is coming from `Microsoft.AspNetCore.JsonPatch`, as a dependency of `Microsoft.AspNetCore.Mvc.Formatters.Json`.

[2016-05-22 09:58] Daniel15 commented on #23
Seems like I had to adjust the `frameworks` section in `project.json` as follows:
[code]

This is super confusing. Why do I need to do this?

[2016-05-22 19:09] Eilon commented on #23
@Daniel15 yep, that is currently a known issue and will be fixed very soon. The latest released version of Json.NET doesn't yet support the new `netstandard` target framework monikers (TFMs), so you have to do these ugly imports (e.g. [this](https://github.com/aspnet/JsonPatch/blob/dev/test/Microsoft.AspNetCore.JsonPatch.Test/project.json#L24-L27). However, by the time ASP.NET Core RTMs there will

[2016-05-22 19:09] #23 closed

[2016-05-22 23:41] Daniel15 commented on #23
@Eilon Couldn't NuGet / .NET CLI have a built-in mapping of new TFM to old TFM, rather than making everyone do it manually in their `package.json`?

[2016-05-22 23:53] Eilon commented on #23
@Daniel15 it does have many mappings built-in, but I think in this case there's an issue because there's no *actual* guarantee that the code is compatible based on the TFMs, but it just happens to be that it is compatible if you actually try it.

[2016-05-30 18:28] zygimantas opened #25 "Multiple actions matched"
Is it possible to have multiple controller actions which has a different signature?

    [HttpPatch("items/{id}")]
    public IActionResult PatchAsync(string id, [FromBody]JsonPatchDocument<Document1> document1)
    {
    }

    [HttpPatch("items/{id}")]
    public IActionResult PatchAsync(string id, [FromBody]JsonPatchDocument<Document2> document2)
    {
    }

I am getting the "Microsoft.AspNetC

[2016-05-30 18:40] dougbu commented on #25
@zygimantas might be simpler to change your two route templates so they aren't identical e.g. `[HttpPatch("items1/{id}")]` and `[HttpPatch("items2/{id}")]`.

[2016-05-30 18:52] zygimantas commented on #25
Well, in my situation I have the endpoint /items/{id} to the document

    {
        "a": {
            "b": []
            "c": 1
        }
    }

and the first controller action

    [HttpPatch("items/{id}")]
    public IActionResult PatchAsync(string id, [FromBody]JsonPatchDocument<Document1> document1)
    {
    }

    [{
        "op": "replace",
        "path": "/a",
        "value": {"b": []

[2016-05-30 19:01] zygimantas commented on #25
The only option I can think of right now is to have an action method

    [HttpPatch("items/{id}/a")]
    public IActionResult PatchAsync(string id, [FromBody]JsonPatchDocument<Document2> document2)
    {
    }

    [{
        "op": "add",
        "path": "/b/-",
        "value": 1
    }]

but that does not look nice personally, to move "path" from the patch document to the route configuration.

[2016-05-30 22:22] zygimantas commented on #25
My issue "almost" makes no sense. It is possible to create such "shared" patch document. I am closing this issue.

[2016-05-30 22:22] #25 closed

[2016-06-11 14:54] AymanGaafar commented on #18
Maybe you could do a separate Package to augment JsonPatch for MVC purposes, like `Microsoft.AspNetCore.JsonPatch.MVC`, which will have Validation Attributes and Bind Attribute checking.

[2016-06-17 15:36] KevinDockx opened #29 "Honor JsonProperty when serializing a JsonPatchDocument."
An issue was logged on the issue list of Marvin.JsonPatch (on which AspNetCore.JsonPatch is based, which is why I'm logging this issue) regarding honoring JSON.NET's JsonProperty (https://github.com/KevinDockx/JsonPatch/issues/44#issuecomment-225681404).

The AspNetCore version supports this when applying a patchDoc to a class that has properties decorated with [JsonProperty] attributes. Marvin.Js

[2016-07-19 01:19] arielcloud opened #31 "Support for using DTOs (with autoMapper)"
I searched for solution to this use case, and saw [here](https://github.com/aspnet/Mvc/issues/1976) that @sergkr ask for this. any news about this? where can I read docs? thanks!

[2016-07-19 16:52] Eilon commented on #31
We have no plans to implement this at this time. Putting on the backlog for now.

[2016-07-19 18:23] arielcloud commented on #31
So, if I using DTO in my object (and map them to EF entities) I should look for another solution, or you have any work around to deal with this? thanks

[2016-07-19 18:48] Eilon commented on #31
@arielcloud can you share more about what you're trying to do? The [AutoMapper NuGet package](https://www.nuget.org/packages/AutoMapper/) supports .NET Core so it should run fine within ASP.NET Core. But beyond that, it depends on the specific scenario you have (e.g. model binding, using Entity Framework Core, something else...).

[2016-07-19 18:59] arielcloud commented on #31
I'm using EF core, I have web api project with crud operation. I want to be able to get from client changes for entities, and save them to the db. but in my controller I expose just DTOs, so I'm get exactly the problem I linked to above:

"The above example wouldn't actually work since we're trying to apply a patch document of type DTO.Expense against an entity of type Entities.Expense. I think be

[2016-07-21 16:37] Eilon commented on #31
Hmm, looking at the code it *looks* like you could do this:

[code]

Though I agree that using AutoMapper in this would be quite complex.

This is not an area we plan to make any significant changes in, but if you (or anyone) has a prototype or something we could look at, we can certainly reconsider.

[2016-07-23 21:39] arielcloud commented on #31
Hi guess you mean
` ProductDto existingProduct = db.GetProduct(id);`
otherwise
'productDto.ApplyTo(existingProduct);'
not compiled.

but then, if I want to verify the changes (for example - if I allow to change only part of
Account) - I should test it on the controller (and I want to avoid logic on controller), because business logic layer dont know DTOs.

eventually, I succeeded use it after I re

[2016-07-24 15:32] jchannon commented on #17
Now running on netcore RTM with sample https://twitter.com/jchannon/status/757236573578616832

[2016-07-24 15:32] #17 closed

[2016-07-25 11:03] arielcloud commented on #18
+1 for this feature

[2016-07-25 20:37] arielcloud commented on #31
Now I saw that if I use JsonPatchDocument without entity type, I can't validate it against ModelState

[code]

[2016-07-26 04:55] Eilon commented on #31
@arielcloud yeah looking at the API it looks like there's a generic version of `ApplyTo` that you can't use (because it uses T for both sides), but also a non-generic version of `ApplyTo` that can take any two types and it matches based on property names, etc.

Did you get this working? What is the validation issue you were having?

[2016-07-26 10:45] arielcloud commented on #31
Yeah, it is working.

the problem is that if I use it so, I cant use the `ApplyTo` version which take the `ModelState` param  and fill it with the validation errors the patch cause (if exists) to use later with

[code]

but I still can manually check the patched object validation by
[code]

[2016-07-27 01:37] wannado opened #32 "class property setters with `null` checks makes Typed JsonPatchDocument tests fail."
class property setters with `null` checks like the following makes tests fail.
Eg. I added a backing field for  SimpleDTO.StringProperty with a null check like the following.
These tests appear in NestedObjectsTests and ObjectAdapterTests class.

[code]

[code]

[2016-07-27 17:09] Eilon commented on #32
@wannado out of curiosity, was the PATCH *trying* to clear out the value? That is, if the PATCH "document" was indicating that the property needed to be cleared, then I would expect this to happen because the property is indicating that it *can't* be cleared.

Or is the PATCH document just trying to set a new value (e.g. change property from "foo" to "bar")?

[2016-07-28 06:14] wannado commented on #32
@Eilon  Thanks for looking in to it!!!   Yes patch document had "op" as "replace",  as you said, just trying to set a new value (e.g. change property from "foo" to "bar".

[2016-07-28 06:22] Eilon commented on #32
@wannado ah ok then that indeed sounds like a bug. We'll take a look!

[2016-07-31 21:19] arielcloud commented on #31
Now I saw that I can do that simply by using `CreateMap(typeof(JsonPatchDocument<>), typeof(JsonPatchDocument<>));
            CreateMap(typeof(Operation<>), typeof(Operation<>));`
that's all!

[2016-07-31 21:24] arielcloud commented on #18
Also, It'll be great to honour validation rules of _fluentValidation_

[2016-08-18 15:54] tillig opened #33 "Patching fails for non 'object' value type dictionaries"
Given a model like this:

[code]

When JSON serialized, the object looks like this:

[code]

If I try to create a patch document and apply it, it fails:

[code]

The test fails on the `patch.ApplyTo(model)` line:

[code]

Is this a known issue? Or is there a workaround?

[2016-08-18 18:30] tillig commented on #33
I found a sort of complicated workaround by having a model specifically for use by the patch operation and using AutoMapper to map `ExpandoObject` to dictionary. If I remove the AutoMapper code, it boils down to this:

[code]

The use of `ExpandoObject` lets you have that dictionary but gets around the JSON contract type mismatch.

[2016-09-08 11:21] KevinDockx commented on #29
FYI, I fixed this issue in Marvin.JsonPatch.  I'd be happy to provide a PR with the required changes :)

[2016-09-13 04:45] Eilon commented on #33
@kichalla can you look and see if this is something we could just easily add support for?

[2016-09-27 17:29] kichalla opened #37 "Patching of dictionaries should be case sensitive on keys"
The current code handles all (dynamic(example: ExpandoObject implements `IDictionary<string,object>`) or not) dictionaries which implement `IDictionary<string, object>` in a case Insensitive way. This is an incorrect behavior.

For example:
1. When Json.net deserializes data into a regular IDictionary<,> it considers the keys **case-sensitive**.
2. When Json.net deserializes data into a regular Po

[2016-09-27 17:32] kichalla opened #38 "Support for patching dynamic types should go beyond ExpandoObject"
Currently we handle patching of dynamic types like ExpandoObject, but there are also other dynamic types like `DynamicObject` which should be supported.

All dynamic types are supposed to implement `IDynamicMetaObjectProvider` which we can look for while trying to support this behavior.

@rynowak @dougbu

[2016-09-27 17:33] kichalla opened #39 "Dictionary patching should also support non 'string' type keys"
@rynowak @dougbu

[2016-09-29 10:02] sandorfr commented on #33
Painful bug it is :) Thanks for the workaround.

[2016-10-07 12:40] #33 closed

[2016-10-07 18:13] pranavkm opened #41 "Downgrade warnings during restore"
[code]

[2016-10-07 18:13] pranavkm commented on #41
@kichalla could you look? I might have missed updating a package

[2016-10-07 19:00] kichalla commented on #41
3b7f9b4043c978e1ce1d1d9d974be36f05b8e985

[2016-10-07 19:00] #41 closed

[2016-10-07 23:03] kichalla opened #43 "Short circuit on the first operation failure when multiple operations are part of the json patch request"
This is a regression that I introduced with my check-in. I found this with a test in Entropy (I didn't knew there were tests for it in Entropy actually).

Once this fixed, revert the following commit in Entropy:
https://github.com/aspnet/Entropy/commit/292a5c04cc59219d6e7ddeae729e4d8962611f6d

@rynowak @Eilon

For reference: Snippet from Json Patch spec:

[code]

[2016-10-07 23:24] kichalla commented on #43
Hmm, so looks like this was not a regression after all. I verified this by a test to the branch state where it did not have my changes and noticed the tests fail.

[2016-10-08 10:44] sandorfr opened #44 "Missing support for JSON Pointer Escaping"
The following JSON is valid:

[code]

But currently the library does not support `~` and `/` as stated under [JSON Pointer section](http://jsonpatch.com/), so this can't be patched.

I'll open a pull request with a fix proposal.

[2016-10-27 17:20] Eilon commented on #39
The scenario is something like this:

The JSON structure:

[code]

The model:

[code]

And the idea is that the stringified integers should be parsed as integers so that the dictionary keys could be located.

[2016-11-03 20:33] Eilon commented on #29
Looks like https://github.com/aspnet/JsonPatch/pull/35 was merged, so closing this bug. Thanks!

[2016-11-03 20:33] #29 closed

[2016-11-04 17:45] MittiMartin opened #47 "JsonPatch - ModelState is invalid"
Hi,
I have a problem with jsonpatch in an asp.net core webapi project.
One of the controller:
[code]
`
I have the id because I want to update an specific entity. Is this right?

I'm using swagger for the http request. Here's my patch request:
![image](https://cloud.githubusercontent.com/assets/15977182/20015638/799468ce-a2bc-11e6-8775-09fb7a0b8fa6.png)

When I run this request I get the following

[2016-11-07 21:34] Eilon commented on #44
@kichalla do you have time to review the PR for this today? I'd like to get this into 1.1.0.

[2016-11-08 03:51] kichalla commented on #44
@Eilon Sorry I actually didn't see the notification about this until few minutes back. Taking a look now.

[2016-11-08 16:56] Eilon commented on #44
Looks like you merged this, so closing. Thanks!

[2016-11-08 16:56] #44 closed

[2016-11-08 22:47] Eilon commented on #37
@kichalla can you link to the PR/commit where you previously fixed this and then close this? Thanks!

[2016-11-11 18:17] kichalla commented on #37
81931e75d48370cf9163254523b1f6c4bcc92acb

[2016-11-11 18:17] #37 closed

[2016-11-17 08:44] PartyArk opened #48 "Simple add on Lists failing in 1.1.0+"
Working on 1.0.0, but failing on 1.1.0 and 1.2.0-preview1-22759

Here I'm attempting to add a new entry on List named Mylist which already has two entries (at indexes zero and one)

`[{"op":"add","path":"/mylist/2","value":{"myname":"foo","age":33}}]`

Response:
JsonPatchException: The index value provided by path segment '2' is out of bounds of the array size.

I'm guessing it's incorrectly looki

[2016-11-17 09:09] PartyArk commented on #48
The specification says:

   o  An element to add to an existing array - whereupon the supplied
      value is added to the array at the indicated location.  Any
      elements at or above the specified index are shifted one position
      to the right.  The specified index MUST NOT be greater than the
      number of elements in the array.  If the "-" character is used to
      index the end of th

[2016-11-17 14:41] PartyArk commented on #48
I've looked at the code - the reason this worked previouly is that using IList.Insert, if the index is the length of the list, it was appended on the end. See ObjectAdapter.cs 1.0.0.

For 1.1.0+ there is a new method TryGetPositionInfo which creates an error if the position is less than the length of the list.Count. This is incorrect behaviour. We need to return PositionType.EndOfList in this scen

[2016-11-17 16:43] candoumbe commented on #31
@Eilon
An other way to work this out could be able to convert an `Operation<TEntity>` to its equivalent `Action<TEntity>`. or to `Func<TEntity, TEntity`
so that after converting from JsonPatchDocument<DTO> to JsonPatchDocument<TEntity> as @arielcloud suggested, one can work with just a list of transformation to apply in a service.
In this way, only the controller layer would depends on the JsonPat

[2016-11-19 10:24] candoumbe commented on #47
@MittiMartin
From what i can see, the body doesn't match the shape of the requested body model, as you're sending the json representation of an `Operation`
[code]
 instead of the json representations of the `JsonPatchDocument `(as stated in the capture you've submitted.
Even after correcting this issue, it won't work.
As a workaround, I've changed the parameter of the action from
`Patch(int id, [F

[2016-11-27 03:56] Eilon commented on #38
Putting on backlog, awaiting customer feedback.

[2016-11-27 04:02] Eilon commented on #48
Indeed, this sounds like a regression. We will investigate a fix. Thanks!

[2016-11-27 04:17] Eilon commented on #47
@kichalla can you investigate?

[2016-11-30 21:40] kichalla commented on #47
@MittiMartin @candoumbe

If you following the JsonPatch spec, the format of a jsonpatch document looks like below:
[code]
As you can see the body is a json array with list of operations, so can you try again and let us know if it still doesn't work?
BTW we are fixing ApiExplorer in MVC to enable Swagger to describe the JsonPatchDocument contracts properly: https://github.com/aspnet/Mvc/issues/5464

[2016-11-30 21:47] kichalla commented on #48
This was my bad...not sure how my missed the `number of elements` part..

[2016-12-01 07:04] MittiMartin commented on #47
Yeah, thanks. I've used the false format of the JsonPatch.
Now it works. Thanks a lot.

[2016-12-01 13:28] kichalla commented on #47
Thanks for verifying.

[2016-12-01 13:28] #47 closed

[2016-12-27 16:37] visav opened #50 "JsonPatchDocument.Replace() yields invalid path when [JsonProperty] is used (1.1.0)"
### Title
In `1.1.0`, `JsonPatchDocument<T>.Replace()` creates `Operation<T>` with invalid `path`, when `[JsonProperty]` from `Newtonsoft.Json` is used.

### Functional impact
This is regression from `"Microsoft.AspNetCore.JsonPatch": "1.0.0"` and breaks existing behavior.

### Minimal repro steps

`global.json`:
[code]

`project.json`:
[code]

`Program.cs`:
[code]

### Expected result
The `Operat

[2016-12-28 09:10] visav commented on #50
Ok, I think I've found the reason for this. I was originally using `[JsonProperty(NullValueHandling = NullValueHandling.Ignore)]` without `propertyName`.

See https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/ExpressionHelpers.cs#L86.

When `JsonPatchAttribute` is found in `ExpressionHelpers.GetPropertyNameFromMemberExpression(MemberExpression memberExpressio

[2016-12-28 19:38] Eilon commented on #50
@kichalla can you investigate? If this is clearly a bug, would you recommend we patch in 1.1.1?

[2016-12-28 22:35] Eilon commented on #50
Putting in 2.0.0 and marking as a bug. In the meantime the workaround should suffice.

[2016-12-28 23:07] Eilon commented on #50
And please check if there are any other places in the codes where we may have gotten that wrong.

[2017-01-03 23:15] #50 closed

[2017-01-05 06:22] adnan-kamili opened #52 "Support for Json Merge Patch - RFC7396"
Hi,

Are their any plans to support the Json Merge Patch

https://tools.ietf.org/html/rfc7396

[2017-01-05 10:54] MienDev opened #53 "Any plan for supporting the 'test' operation?"
**NOT SUPPORTED NOW**
I found that the `test` operation is not supported till now.  ( JsonPatch, Version=1.1.0.0 )

**A part of standard**

Refer to [rfc6902 section-4.6 from the IETF](https://tools.ietf.org/html/rfc6902#section-4.6), `test` is one of the operations that is specified.

**It's useful**

` test` is useful in some scenario. Taking HTTP patch as example,  it can be used for checking c

[2017-01-08 06:14] ryanwalls commented on #32
We are hitting this as well when we are trying to convert a string to an enum in a setter, e.g.
[code]

[2017-01-09 17:28] Eilon commented on #32
@jbagga can you take a look?

[2017-01-19 18:25] Eilon commented on #48
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 18:25] Eilon commented on #48
@kichalla please make sure the fix is in 2.0.0 as well.

[2017-01-19 18:27] Eilon opened #54 "Simple add on Lists failing (2.0.0)"
Make sure the patch fix for 1.1.1 in https://github.com/aspnet/JsonPatch/issues/48 is also in 2.0.0.

[2017-01-19 18:27] Eilon commented on #48
@kichalla I opened https://github.com/aspnet/JsonPatch/issues/54 to track making sure the fix is also in 2.0.0.

[2017-01-24 00:24] kichalla commented on #32
I cannot repro this.

@ryanwalls what kind of operation are you trying to do when you hit this issue? for example, if you were trying to do a 'move' operation, the value of source property is copied onto the destination property and the source property would be set to its default value (in case of 'string' since its a reference type, it would be set to null).

[2017-01-24 16:59] kichalla commented on #32
Update: I was able to repro it on 1.0...In this version during a Replace operation, a Remove operation is run first and then an Add and in case of Remove operation the default value for a type is set because of which we are seeing this exception.

[2017-01-25 19:10] jbagga commented on #32
@ryanwalls @wannado Are you able to reproduce this? As @kichalla noted, there have been changes to the `Replace` operation since 1.0.0. If you can provide more information like the build version (1.0.0 or 1.1.0) and type of operation performed, we can investigate this further!

[2017-01-25 23:20] ryanwalls commented on #32
I'm doing a "replace" operation with version 1.1.0.

[2017-01-26 01:04] jbagga commented on #32
@ryanwalls I have tried to reproduce this issue with `1.1.0` but haven't been able to. Can you send us a sample or repro steps?

@Eilon Also, adding tests to `2.0.0` to ensure `Replace` does not fail for properties with null checks. See #56.

[2017-01-26 14:31] ryanwalls commented on #32
@jbagga No worries.  If you've ensured null checks work in 2.0.0, I'll just wait to update.  We've worked around the problem for now.

[2017-01-26 19:59] jbagga commented on #32
Closing this as it cannot be reproduced for 1.1.0. Added tests to ensure property setters with null checks do not throw for `Replace`  operation.

Please feel free to reopen this issue if you have a repro sample app for 1.1.0. We can investigate this further then!

[2017-01-26 19:59] #32 closed

[2017-01-26 22:06] #48 closed

[2017-01-26 22:07] kichalla commented on #54
7a487a880a6525ced73b2e3d658c8e20b6578afb

[2017-01-26 22:07] #54 closed

[2017-01-27 19:52] jbagga opened #57 "Migrate JsonPatch to msbuild"

[2017-01-31 01:25] #57 closed

[2017-02-01 11:58] RehanSaeed commented on #18
For those looking for a solution to this, you need to call `TryValidateModel` which adds any model errors to the `ModelState` for you and then you can check the model:

[code]

It's also worth noting that the JSON patch document could also be invalid, so you need to check the model state twice.

If you are using ASP.NET Core 1.0, then note that `ApplyTo` throws exceptions if the JSON patch documen

[2017-02-01 13:07] TAGC opened #59 "Why has dynamic patching support apparently been dropped between 1.0.0 and 1.1.0?"
I've been developing code that relies on dynamic JSON patching. In my ".NET Core library" project everything works as expected, and all tests pass. However, when I package up this project and use it as a dependency within an ASP.NET Core web application (.NETCore App 1.1.0), the exact same operations result in errors like this:

[code]

It had me scratching my head for a while but I believe I've t

[2017-02-03 12:42] PartyArk opened #60 "AspNetCore.Mvc.Formatters.Json 1.1.1 should reference JsonPatch 1.1.1"
Hi, I opened https://github.com/aspnet/JsonPatch/issues/48 which has resulted in a fix. Great! Thanks.

However, on updating AspNetCore.Mvc to 1.1.1, the reference chain doesn't reference this update to JsonPatch. Specifically AspNetCore.Formatters.Json still references the 1.1.0 version.

Maybe I'm misunderstanding how it should work. I can't (yet?) reference JsonPatch 1.1.1 separately.

[2017-02-03 16:15] rynowak commented on #60
There isn't a JsonPatch `1.1.1`, `1.1.0` is the newest release.

[2017-02-03 17:30] PartyArk commented on #60
You'll see the issue that I referenced was patched is in 1.1.1 and you can see https://github.com/aspnet/JsonPatch/milestone/10 that 1.1.1 is complete.

[2017-02-03 21:01] kichalla commented on #59
@TAGC The support has not been removed is handled by the following:
https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/ObjectVisitor.cs#L58
https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/ExpandoObjectAdapter.cs

Also we have bunch of tests for 'dynamic' here: https://github.com/aspnet/JsonPatch/tree/dev/test/Microsoft.

[2017-02-03 21:04] kichalla commented on #60
@rynowak there is a branch 'rel/1.1.1' which i had earlier pushed my fix to. Probably @PartyArk is right about referencing it from MVC's 1.1.1 branch?

[2017-02-03 21:26] PartyArk commented on #60
I think it may be too late for the MVC 1.1.1 branch, but could we at least reference the package separately via NuGet? I'm not sure what the process is for publishing it, but right now I can only see 1.1.0 or the 1.2.0 preview stuff.

[2017-02-03 23:56] TAGC commented on #59
I think I know where the problem is:

[code]

You seem to handle dynamic patching only for instances of `ExpandoObject` whereas I've created my own class that subclasses `DynamicObject` directly.

I have an early version of this class [here](http://stackoverflow.com/a/41805673/1636276) which you can use to reproduce the issue.

[2017-02-03 23:57] TAGC commented on #59
Looks like this is already covered by #38.

[2017-02-07 14:57] TFleury opened #61 "Incorrect move operation behavior"
When performing a `move` operation, target object is not moved, but it is removed from source and **a copy** is added to the destination.
There is no problem with value types, but there is one with reference types : reference was lost.

To handle move operation, `ObjectAdapter` gets the moved property, removes it from the source, then adds it to the destination. That's OK.

The issue is in `ListAd

[2017-02-07 16:14] kichalla commented on #61
@TFleury Could you share a repro where you are seeing this issue?

[2017-02-07 17:20] TFleury commented on #61
I'd want to patch a `Template` object, which have a property of type `IList<Theme>`. Themes in the list are ordered.

Here is a simplified version of my classes :
[code]
Here is a sample patch :
[code]
`TrackedList` is a custom form of `List` to track items order, and wanted to use JsonPatch's "move" operation to reorder items in the list.

The issue is that moved item is copied, removed, and then

[2017-02-08 10:49] TFleury commented on #61
@kichalla can you confirm this is an issue and not the expected behavior ?
I pushed a PR to fix it, but just realized it will break 'copy' operation : object must be deep copied.

[2017-02-08 14:09] TFleury commented on #61
I fixed the copy issue in my PR, and added matching unit tests.

[2017-02-08 18:13] TFleury opened #64 "Move forward in a nested list fails"
Assume you have a nestable class like this one :
[code]
Your have this object :
[code]
And you want to move 1.1 into 1.2. The operation should be :
[code]
And you expect to obtain :
[code]
Correct ?

But it fails with :
`The index value provided by path segment '1' is out of bounds of the array size.`

It's because move gets value, removes source and add at destination. but in this special case, d

[2017-02-14 08:45] TFleury commented on #64
It seems my interpretation was wrong.

RFC says :

   the "from" location, followed immediately by an "add" operation at
   the target location with the value that was just removed.

The correct patch should be
[code]

[2017-02-14 08:45] #64 closed

[2017-02-21 11:35] vhe1 commented on #52
Seconded.
Can we have support for it?
It's much easier on the frontend developers and the rfc 6902 patch has a gaping security hole in that _any_ path expression can be added to the list, regardless of whether the property exists on the type given in the generic type parameter.

[2017-02-23 17:23] Eilon commented on #60
MVC 1.1.2's JsonFormatter library will reference JsonPatch 1.1.1. You can see that in this branch here: https://github.com/aspnet/Mvc/blob/rel/1.1.2/src/Microsoft.AspNetCore.Mvc.Formatters.Json/project.json#L24 . We expect this release to be available publicly within a few weeks.

The MVC 1.1.1 release was completed before JsonPatch 1.1.1 was available, so that's why it wasn't updated.

[2017-02-23 17:23] #60 closed

[2017-02-23 17:25] Eilon commented on #61
@kichalla can you confirm you agree with the issue?

[2017-02-23 17:27] Eilon commented on #59
Yes, looks to be a dup of https://github.com/aspnet/JsonPatch/issues/38.

[2017-02-23 17:27] #59 closed

[2017-02-27 19:26] kichalla commented on #61
@Eilon and I discussed about this and agree that this is an issue. Changing the label to `bug`.

[2017-02-28 18:54] kichalla opened #69 "Check if round tripping an operation's value is required"
We currently round trip the 'value' provided in an 'operation' here:
https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/ConversionResultProvider.cs#L15

**Valid types in JSON:**
number,
string,
bool,
array,
object,
null

**Some things we need to verify in the above line of code:**
- If the 'value' is of the same type as the 'typeToConvertTo', then we can avoid

[2017-02-28 23:03] kichalla commented on #69
A working change (in my private branch): https://github.com/aspnet/JsonPatch/commit/7f7ff71bc00f3fece41ce77e95d2937954baf63b

[2017-03-01 19:55] kichalla opened #70 "Reduce allocations for a typical patch scenario"
For the following typical `replace` operation
[code]

**Before:**
![image](https://cloud.githubusercontent.com/assets/6559784/23478151/3a9217f6-fe75-11e6-8483-d2790bf1e665.png)

**After:**
After making the following couple of changes, I see a 30% reduction in memory usage
- Fix the round-tripping issue mentioned here https://github.com/aspnet/JsonPatch/issues/69
- Avoid validating the `JsonPatchDo

[2017-03-08 20:40] #61 closed

[2017-03-30 20:51] SkiGeek82 commented on #39
I'm pretty sure I am having the same issue with Guids:

The JSON Structure:
`{
    "contacts": {
        "c2727f99-6669-4844-b30c-4fa1c0806d2d": {
            "id": "c2727f99-6669-4844-b30c-4fa1c0806d2d",
            "firstName": "Ben",
            "lastName": "Foster",
            "age": 30
        },
        "d705a11f-726f-498f-a625-b09343c731f9": {
            "id": "d705a11f-726f-498f-a625-b09

[2017-03-31 16:25] Eilon commented on #39
Yup, looks like the same issue.

[2017-03-31 22:01] bhatnagar-anuj opened #75 "Failed to apply patch on json as string"
I'm trying to apply patch on the JSON feeds as string nad getting error
Unable to cast object of type 'Newtonsoft.Json.Serialization.JsonPrimitiveContract' to type 'Newtonsoft.Json.Serialization.JsonObjectContract'.
Code sample.

var patch = new JsonPatchDocument();
patch.Replace("/region", "test");
patch.ApplyTo("{\"region\": \"amer\", \"foo1\": {\"foo11\": \"val1\", \"foo12\": 2}}");

I tried us

[2017-04-13 12:22] Felixking commented on #1
Curious.. Will the Test Operator be implemented at some point? If so, do you know when? I'm requiring functionality that the test operator provides and I'm considering my options here.

[2017-04-23 20:01] andulv opened #76 "ICollection<T> not supported for collection operations"
It seems like only IList<> is supported.

And since Entity Framework Core uses HashSet<T> (which implements ICollection<> but not IList<>) this prevents us from using JsonPatch to update EF Core Entities with subcollections (navigation properties).

[2017-04-23 20:37] rynowak commented on #76
@andulv - can you provide an example of what the model object would look like in this case?

In general the collection-based functionality that JsonPatch has is based on indexing with numerical indices, which implies that collections have ordering semantics. This is a real mismatch with `HashSet<>` and `ICollection<>` which is why we did `IList<>`

[2017-04-23 22:11] andulv commented on #76
It seems like we can fix this by switching to IList<> in our models.

For some reason I thought Entity Framwork required ICollection for navigation collections, but it seems like I was wrong (or outdated).

We are currently evaluating Json Patch for a new Web Api we are doing in .NET Core. Our underlying data model is Entity Framework Core and we hope to expose this model directly.

Refering to en

[2017-04-24 14:55] en-alepopa opened #77 "Update Microsoft.AspNet.JsonPatch nuget package version"
Hi everyone,

The ASP NET Core version of this package is at version 1.1.1: https://www.nuget.org/packages/Microsoft.AspNetCore.JsonPatch/

But the ASP NET standard version of this package was not updated since 2015, at version 1.0.0-beta8: https://www.nuget.org/packages/Microsoft.AspNet.JsonPatch/1.0.0-beta8

I realise this may not be the proper platform to request this, but can you push to lates

[2017-04-24 18:59] rynowak commented on #77
The `Microsoft.AspNet.JsonPatch` package is just the old name of this package. You can use `Microsoft.AspNetCore.JsonPatch` on desktop framework (net451)

[2017-04-25 08:21] en-alepopa commented on #77
Thanks! Can you guys update the https://www.nuget.org/packages/Microsoft.AspNet.JsonPatch/1.0.0-beta8 page with this information? At first sight, it's not clear that AspNetCore.JsonPatch can be used with AspNet 4.6

[2017-04-27 16:23] Eilon commented on #77
The only thing we can do is un-list the package, which will probably solve this problem for most people. It won't show up in search results, etc.

[2017-05-16 11:46] zygimantas commented on #1
As a workaround I use:

[code]

[2017-05-18 17:32] hjaltijon opened #80 "JsonPatchException: Invalid JsonPatch operation thrown on model binding"
When the operation is invalid, an exception will be thrown on model binding.
    {
      "value": "someValue",
      "path": "/validPath",
      "op": "invalidOperationName"
    }

Why is that? I would have thought that the patch document would become null, with an error message in the modelstate, just like when the json body is invalid?
I dont want to return a 500 error to the caller when the ope

[2017-05-18 17:59] rynowak commented on #80
An exception/500 here is definitely not intended.

Is your action method getting called? Can you include the call stack that's throwing?

[2017-05-18 18:55] hjaltijon commented on #80
my action method looks like this:

[code]

the code inside the action method will not be excecuted if the operation name is not valid,
for example with this as the request body:
[code]
an exception would be thrown.

But with this as the request body:
[code]
the code inside the action method will excecute normally and the caller will get a 400 Bad Request response.

Here is the call stack:
[code]

[2017-05-18 20:55] rynowak commented on #80
/cc @kichalla

[2017-05-19 22:45] kichalla opened #83 "Target JsonPatch to netstandard2.0"
Related commit: https://github.com/aspnet/JsonPatch/commit/e3114dc6a41be48dfeff17306fad428670c0f550

[2017-05-25 09:56] maximpashuk opened #84 "Add builtin JObjectAdapter that implements IAdapter"
As for now builtin implementations for ```IAdapter``` are

**DictionaryAdapter**
**ExpandoObjectAdapter**
**ListAdapter**
**PocoAdapter**

In my case is useful to have ```JsonPatchDocument<JObject>``` and apply it to ```JObject``` from Newtonsoft.Json.

I use workaround
[code]

However, it would be nice to have builtin ```IAdapter``` for ```JObject``` so I can call
[code]
 without any errors.

[2017-05-25 10:01] maximpashuk commented on #84
Also I found that issue #75 can be fixed if support for JObject will be added.

[code]

[2017-05-28 23:36] IefVandepitte commented on #80
same problem here;
My request body:
[
   {
   }
]
My Controller :

[HttpPatch(Name = "WijzigEigenschapVanTelefoonVoorContact")]
        public IActionResult WijzigEigenschapVanTelefoonVoorContact(int contactId, int id,
            [FromBody] JsonPatchDocument<WijzigTelefoonDto> patchdoc )
{...}

never gets accessed, the server returns a 500 instead.

My callstack:
[ContactManager-20170529.txt](htt

[2017-06-04 14:40] gilmishal commented on #52
Third.
RFC 6902 is also not very client side friendly.

[2017-06-05 16:46] zygimantas commented on #53
Duplicate: https://github.com/aspnet/JsonPatch/issues/1

[2017-06-05 19:34] gilmishal opened #85 "Adding/Removing from a collection by an index value"
I need to be able to add/remove object from a subcollection of my item - imagine the following json patch string
`{"op":"remove", "path":"/a/b/123"}]`
or
`{"op":"add","path":"/a/b", "value":"{"a":"b"}"`

where 123 is my database Index, and not a list position (which my client has no actual way of knowing about)

As of now, I see no way of actually implementing this (maybe I missed something, but I

[2017-06-06 03:42] MienDev commented on #53
@zygimantas  Thanks for your kind reminder.   I'll close this issue, since duplicated. .

[2017-06-06 03:42] #53 closed

[2017-06-06 19:04] kichalla commented on #83
d9531031a869cab74d412ecfb396ce1b0797c301

[2017-06-06 19:04] #83 closed

[2017-06-07 21:19] Eilon commented on #80
1. We should change the `OperationBase.OperationType` method to not throw from the `get` method. This is just bad behavior.
2. We need to change MVC's default list of "type to not validate" to include the JsonPatchDocument base class.

[2017-06-07 21:22] Eilon commented on #84
Looks like this would be covered by https://github.com/aspnet/JsonPatch/issues/38.

[2017-06-07 21:22] #84 closed

[2017-06-07 21:24] Eilon commented on #75
@jbagga - can you investigate what's going on here?

[2017-06-08 22:32] jbagga commented on #75
@bhatnagar-anuj To use `Replace`, you either need a C# object to convert the `JObject` into or convert it to an `ExpandoObject` as follows:
[code]
You cannot perform this operation on a string.

cc @kichalla

[2017-06-12 18:40] #75 closed

[2017-06-21 16:31] dario-hd opened #88 "Extension point"
As far as I can see the extension point is the `ObjectAdapter`. So, basically the idea is to create a wrapper around it which implements the same interface. But `ObjectAdapter` is not injectable because of the `Action<JsonPatchError>` constructor parameter.

In addition, I saw that [here](https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/JsonPatchDocument.cs#L159) and

[2017-06-22 21:56] #80 closed

[2017-07-06 02:04] kumbhare opened #90 "Property names in Path should use the supplied ContractResolver instead of making it lower case"
Given that property names in javascript/json are case sensitive, the serialization of operations to json should honor the supplied ContractResolver instead of always returning in lower case

https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/JsonPatchDocumentOfT.cs#L718
[code]

https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/JsonPatchDoc

[2017-07-12 14:51] patrick-hampton-avalara opened #94 "Performing Test Operation with Operation<T> on a JsonPatchDocument<T> does not throw"
The implementation of Operation<T> differs from Operation in that Operation<T> throws a JsonPatchException when Test is used.  This type of exception is caught and "reported", then the ApplyTo is short circuited  but the method returns.  In this scenario the caller has no way of knowing that anything failed.
Recommend changing the exception type thrown by Operation<T>.ApplyTo to be consistent with

[2017-07-13 03:43] TAGC commented on #38
Has this been resolved or is anywhere near close to being resolved? .NET Core Preview 2 SDK seems to treat downgrades as errors rather than warnings, and this is the _only_ dependency I'm forced to downgrade (to v1.0.0) in order to workaround the problems discussed in #59.

[2017-07-13 22:51] jbagga commented on #38
Not yet. This is planned for 2.1

[2017-07-19 21:58] patrick-hampton-avalara opened #96 "Support for strongly typed dictionarys"
I have the following model (simplified for example)
[code]

I want to perform the following add operation to add a new translation to the Dictionary
`[{ "op":"add", "path":"/fieldResponseModel/tranlsations/es-ES", "value":{ "language":"es-ES", "Value":"some translated value" } }]`

However, when calling patch.ApplyTo() I get the following exception:

Am I missing something my operation or is this

[2017-08-04 05:01] dennisroche commented on #77
Vote to close as package as been unlisted

[2017-08-04 21:45] Eilon commented on #77
That specific version is unlisted, but I believe there are other versions that are still listed, such as https://www.nuget.org/packages/Microsoft.AspNet.JsonPatch/1.0.0-beta7.

[2017-08-06 15:05] rosspi opened #98 "// root path for List<> type"
I am getting a path string to be generated from an expression to the root object that looks like this:
//
That is, x => x is turning into '//' when it should just be '/'.
This is just the case when the generic type of the document is a list.

When applying the apply function(s) it seems to be happy with the double slash, but I don't think this should be the case.

[2017-08-07 17:35] Eilon commented on #98
@jbagga can you take a look and see what's going on here?

[2017-08-15 09:50] TAGC commented on #38
After updating the Microsoft.* NuGet packages to the recently released 2.0.0 versions, I'm no longer able to use the downgraded 1.0.0 version of `Microsoft.AspNetCore.JsonPatch`. I get an exception within the `Startup.Configure()` method of my web service:

[code]

This issue is now a major blocking one in my case, preventing me from targeting .NET Core 2.0 RTM.

[2017-08-15 10:09] TAGC commented on #38
I've noticed that you've started work on this, though. If it's at all feasible, would it be possible for you to release private or pre-release NuGet packages with these additions? I have my own tests that I can use to validate the implementation of this feature in addition to your own, so it can be beneficial for us both.

[2017-08-15 16:29] Eilon commented on #38
@TAGC once the changes are committed, the builds will be on the aspnetcore-dev MyGet feed. You can find more info here: https://github.com/aspnet/Home#builds

[2017-08-23 00:39] jbagga opened #102 "ExpandoObjectAdapter should not assume case insensitivity"
The `ExpandoObjectAdapter` currently uses [case insensitive search](https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/ExpandoObjectAdapter.cs#L21) before getting/setting the value for the given segment.

Instead, the [`NamingStrategy`](https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Serialization/NamingStrategy.cs) configured in the

[2017-08-23 19:03] jbagga opened #103 "Discussion: ExpandoObjectAdapter does not assume case insensitivity"
When applying a json patch to `ExpandoObject`s, case insensitive search will not be used to match the path segment to the object's dictionary keys. Instead, the path segment will be resolved using the `NamingStrategy` defined in the `IContractResolver`.

See announcement: https://github.com/aspnet/Announcements/issues/269

[2017-08-23 19:06] #102 closed

[2017-08-23 22:26] rynowak commented on #103
FYI we've done this change to be consistent with how JSON.NET deals with casing and dictionaries. The **right way** to configure this is to use the naming strategy.

Some of the decisions in this repo were taken which MVC was still using the pascal case contract resolver and don't really make much sense anymore.

[2017-08-24 14:29] Mardoxx opened #104 "Patch an aggregated DTO"
A somewhat contrived, but nonetheless important, example.

Assume the following case whereby `UserDetails` is an aggregate DTO (not sure of correct terminology, but basically a model of collected information from different stores/services) which is used by a RESTful web service. It does not necessarily have the same property names as the objects it collects together.

[code]

Let our stores persis

[2017-08-24 15:08] Mardoxx commented on #52
This would be great. Seems a lot more appropriate for what I'd imagine the "average" user requires of JSON Patch.

[2017-08-24 18:23] jbagga opened #105 "Reorganize tests and remove redundant integration tests"
The tests are organized in a confusing structure and not as we usually organize them. There are a lot of redundant integration tests and some adapters lack unit tests.

~~1. [This](https://github.com/json-patch/json-patch-tests/blob/master/tests.json) test suite can be used to ensure we are spec compliant. It can either be used to generate test code or parsed and tested.~~
- [x] 2. [This](https://

[2017-08-24 19:31] Eilon commented on #104
Thanks for the report, we will take a look at this and see what we can do.

[2017-08-28 01:02] Mardoxx commented on #52
What does the `1 - Ready` label mean?

Has an API for this already been decided? Or is it in discussion -- if so is this public?

I have been playing around a bit and I've got a working PoC which allows for uhhh.. this:

[code]

[code]

Assume the following data is persisted:
[code]

[code]
With group information being stored in a completely isolated service.

That is, a `GET Users/10` would retur

[2017-08-28 20:12] Eilon commented on #43
@kichalla please close.

[2017-08-28 20:17] Eilon commented on #31
Closing because there are no plans to implement this.

[2017-08-28 20:17] #31 closed

[2017-08-28 20:18] Eilon commented on #18
Closing because there are no plans to implement this.

Using `TryValidateModel` is the best way to do this.

[2017-08-28 20:18] #18 closed

[2017-08-28 20:40] Eilon commented on #104
This seems like a good place to use a library such as AutoMapper to modify the objects and apply the data from the original User/UserGroup objects to the DTO.

Closing because there are no plans to implement this.

[2017-08-28 20:40] #104 closed

[2017-08-28 20:45] Eilon commented on #94
If we implement the `test` operation per https://github.com/aspnet/JsonPatch/issues/1, this issue would go away.

[2017-08-28 20:48] Mardoxx commented on #104
@Eilon This is one of the solutions I ended up at, but I didn't really like it because it involves a _lot_ of boilerplate, and the naive way I implemented it involved 3(!) calls to the db - which is obviously terrible! Really felt like I was forcing it to do something it doesn't want to do -- using the wrong tool for the job I think!

Thanks for looking in to this though! :)

[2017-08-28 20:48] Eilon commented on #88
@dario-hd can you provide more info on the scenario you are trying to accomplish?

[2017-08-28 20:58] Eilon commented on #85
This doesn't seem like something that JSON PATCH is well-suited for. Dictionaries have keys, and lists have indexes, but the reverse is not true. It seems like in this case you want to use a list so that you can get ordinal semantics.

[2017-08-28 20:59] #76 closed

[2017-08-29 08:20] RehanSaeed commented on #18
@Eilon Is this because of the disconnect between ASP.NET Core and MVC? I've heard there are plans to remove that disconnect although that statement is vague, could this issue be reopened once that happens?

[2017-08-29 09:53] TAGC commented on #38
Hey @jbagga, thanks for the work you put in on this. However, I'm still facing issues with the latest code.

Using `Microsoft.AspNetCore.JsonPatch v2.1.0-preview1-26831`, I'm facing errors like this:

[code]

In these unit tests, I'm testing deserialisation options against this model:

[code]

Here's an example of one of the tests (the exception I pasted above is from this):

[code]

The relevant

[2017-08-29 16:02] Eilon commented on #38
Re-opening to @jbagga can investigate.

[2017-08-29 19:42] dario-hd commented on #88
@Eilon the idea is to enhance the original `ObjectAdapter` implementation. In the end I managed to do it by registering `IObjectAdapter` as follow in Autofac:

    builder.Register(c => new ObjectAdapter(new DefaultContractResolver(), logErrorAction: null))
           .As<IObjectAdapter>();

I would create a constructor without `logErrorAction` in order to make it "more injectable".

[2017-08-30 00:20] jbagga commented on #38
Since your class also implements `IDictionary<string, object>` JSON.NET resolves it as `JsonDictionaryContract` instead of the expected `JsonDynamicContract`.

I am working on changing how the adapters are selected (based on what contract is returned) but your specific implementation will still return `JsonDictionaryContract` which is not compatible with the `DynamicObjectAdapter`. So the exceptio

[2017-08-30 16:50] Eilon commented on #88
@dario-hd thanks for the extra info, we will evaluate this in our next team bug discussion.

[2017-08-30 17:17] kichalla commented on #43
I was mistaken when i filed this issue and we already do short circuit on the first operation failure.

[2017-08-30 17:17] #43 closed

[2017-08-31 03:25] peabnuts123 commented on #52
Just pitching in from a front-end-dev perspective. Granted that JSON Patch is a nice standard but it's pretty widely accepted to do operations in a JSON-Merge kind of way. To a JS developer, it would be pretty weird if their backend developer told them they couldn't support this kind of operation, it would be generally seen as basically an incapable/not very useful technology.

[2017-08-31 15:06] TAGC commented on #38
Thanks @jbagga, I've got a solution now that I think works (unit tests are passing for `DynamicDeserialisationStore`, and unit/integration tests are *for the most part* working in a higher-level library that uses it - only issue is a heisenbug that intermittently causes a couple tests to fail, and I haven't yet determined if that's related to these changes.

I'll need to migrate more of my codebas

[2017-08-31 17:10] jbagga commented on #38
Okay, thanks!

@Eilon Closing for now.

[2017-08-31 17:10] #38 closed

[2017-09-01 14:57] Mardoxx commented on #52
Ok so I've cleaned it up a bit, API is a little different now, `Members` is a `Dictionary<string JsonMergePatchValue>`
I've basically designed it in a way that *I* want it to work.

Shall I write a few tests and do a PR? Or has work on this already begun?

[2017-09-01 15:20] mhosman commented on #52
+1 For this. Please add support for Json Merge Patch!

[2017-09-01 17:46] rynowak commented on #52
@Mardoxx - we'll discuss and get back to you next week. We're still planning the set of features we're going to do for 2.1, and this is under consideration. I'm putting a reminder on my calendar right now.

If you have an example of this somewhere in a repo that we can look at that would help.

[2017-09-01 18:57] tinchoel10 commented on #52
+1 Please add json merge patch, this is more client-friendly, easier to understand and to manage in a lot of situations. Is a very important feature.

[2017-09-01 21:42] Mardoxx commented on #52
@rynowak Amazing thanks.

Done here - https://github.com/Mardoxx/RJBM.JsonMergePatch Cleaned it up a lot and simplified it... a lot. Not happy about a few things, see [here](https://github.com/Mardoxx/RJBM.JsonMergePatch/issues/1), but happy enough about API for it. Gives a basic idea of what I want.

Can add end to end example if you like?

[2017-09-01 23:57] jbagga commented on #98
@rosspi Can you share a sample/code snippet, and elaborate on how the actual and expected output differ? I can then investigate.

[2017-09-02 05:20] rosspi commented on #98
It happens when the generic type is a list, and you're adding an item to the object itself (when using an expression like this: x => x).
If however, the expression points at something deeper than the object itself, then the resultant json path is ok.

[code]

[2017-09-04 17:27] mhosman commented on #52
Hey @Mardoxx, this is a working (non-official) example? I know there are several things to work in it (https://github.com/Mardoxx/RJBM.JsonMergePatch/issues/1), but it works?

[2017-09-04 17:36] Mardoxx commented on #52
@mhosman Yeah it works! Very very basic example [here](https://github.com/Mardoxx/RJBM.JsonMergePatch/blob/master/host/RJBM.JsonMergePatch.Web/Controllers/DemoController.cs#L9) or slight modifications to [above](https://github.com/aspnet/JsonPatch/issues/52#issuecomment-325237215) 😄

[2017-09-04 23:57] mhosman commented on #52
Hey @Mardoxx, thanks for your answer. There's any way to create a NuGet package in order to test this in one of my projects? Thank you!

[2017-09-05 17:20] rynowak commented on #52
@Mardoxx - have you done any work with your code to support cases like the following:

**Original**
[code]

**Patch**
[code]

**After**
[code]

Notice in this case that `author` was patched by setting the `familyName` property to `null` and the `givenName` property retains it's original value. This is [example 3](https://tools.ietf.org/html/rfc7396#section-3) from the RFC.

From the .NET point-of-

[2017-09-05 17:43] Mardoxx commented on #52
Totally overlooked that, will have a look later - and also adding properties that don't exist on the original document (i.e. source is a dynamic object)... `phoneNumber` in that example. Hmm!

Haven't looked at (didn't occur to me) Json.Net api! Good idea.

[2017-09-07 16:47] HappyNomad commented on #85
@gilmishal I need this for my projects, and I'm working on my own solution now.

Although not ideal, I must take this approach since the issue would otherwise be blocking me.

I can't sit around waiting, but I do have an initial suggestion for introducing a little more fine-grained extensibility into the library.  The `ObjectVisitor` class has a `private` `SelectAdapater` (sic) method.  I suggest

[2017-09-07 23:56] Eilon commented on #88
@dario-hd we took a quick look at this and we think we still need a bit more info. Can you provide info on what it is you're trying to inject? Maybe show the code that you'd like to be able to write when setting up your container and services?

[2017-09-09 21:14] HappyNomad commented on #85
The central issue is that we're dealing with entities rather than JSON objects.  I've described my solution at https://github.com/json-patch/json-patch2/issues/20.  I hope that my suggestion there can become an RFC.  In the meantime, and in case that doesn't happen, we at least @Eilon need better extensibility.  How are other people using this library?  I and I assume @gilmishal are using it with

[2017-09-11 17:52] #98 closed

[2017-09-15 18:55] rynowak commented on #52
Hi Folks, sorry for the delay.

We don't have an official 2.1 announcement post out yet, but I'm sad to say JSON Merge didn't make the cut. We understand the feedback that this is valuable and we'd like for a good .NET solution to exist, but we're not going to invest in building it right now.

---------------------

I'd suggest teaming up and fleshing out the implementation that @Mardoxx has start

[2017-09-15 19:17] mhosman commented on #52
Maybe @Mardoxx could make a library (NuGet Package) at least for the basics.

[2017-09-15 19:38] Mardoxx commented on #52
@rynowak Understandable, it's something that comparatively few will benefit from.

Not at all certain about the current implementation I came up with (besides it only conforming to like 1/3rd of the spec!) -- Not had time to think about it the past few days. Some pointers from someone more experienced than I,  or anyone really, would be very welcomed!

[2017-09-18 17:52] mhosman commented on #52
I just found this.... https://github.com/Morcatko/Morcatko.AspNetCore.JsonMergePatch

[2017-09-19 09:59] Mardoxx commented on #52
@mhosman good find. Feels uneasy to me re-purposing jsonpatch. But hey, if it works.. it works!

[2017-09-19 10:50] adnan-kamili commented on #52
Since I logged this issue, I have been using the following to perform a patch:

[code]

[2017-09-21 11:59] NicolaasVB opened #109 "ExpandoObjectAdapter doesn't play well with JObjects"
Consider following code snippet (unit test)

[code]

Unless we apply the 2 hacky lines (converting to JObject and back to ExpandoObject), this snippet will fail (crash even...). The reason for that is explained in comments in the snippet.

Now, for my question... How I can solve my use case without the use of those 2 hacky lines of code? (we're implementing our take on event sourcing with json pat

[2017-09-21 12:13] NicolaasVB commented on #109
Oh, I just discovered that if we merge the 2 patch documents in 1, it fails as well, for the same reason
[code]

In this case my dirty hack isn't going to save me!

[2017-09-24 20:09] peabnuts123 commented on #52
Seems like most people in this thread are missing the subtle difference between omitting a field from the request and sending a `null` value in the request. Checking against `null` in the implementation means that frontends sending `null` back in their payload will be ignored by the backend. This essentially creates a behaviour where, once being set to a value, a field will never be able to be set

[2017-09-24 22:57] Mardoxx commented on #52
No, both my and that other example account for null vs undefined.

On 24 Sep 2017 21:09, "Jeff" <notifications@github.com> wrote:

[2017-09-25 02:54] peabnuts123 commented on #52
Alright, that's my mistake. I hadn't trawled the code, and was merely acting on language cues.

[2017-09-27 15:19] TAGC opened #110 ""Replace" operations should remove the existing value before adding the new one"
## Summary

I'm facing an issue that relates to a subtle technicality of the JSON Patch "replace" operation. In one of my model classes, I'm trying to enforce a requirement that a client does not try to register two "definitions" (instances of another model class) with the same name.

However, it should be entirely possible for a client to *replace* an existing definition with another one using th

[2017-09-27 15:22] TAGC commented on #110
By the way @jbagga, your implementation of JSON patch support for dynamic objects has been working out really well (apart from this minor corner case). I noticed that the new implementation respects the JSON contract resolver too. Thanks again 👍

[2017-09-27 15:36] TAGC commented on #110
Also, this is how it was [originally implemented](https://github.com/aspnet/JsonPatch/blob/patch/1.0.5/src/Microsoft.AspNetCore.JsonPatch/Adapters/ObjectAdapter.cs#L725) (treating "replace" as a "remove" followed by an "add").

[2017-10-09 02:41] jbagga commented on #96
@patrick-hampton-avalara Can you share how you are adding this operation to your patch document?

Are you creating a `JsonPatchDocument` with a list of operations? If so, can you show how you new up this `Operation`?

[2017-10-09 21:19] patrick-hampton-avalara commented on #96
@jbagga The JsonPatchDocument document is being created by the Asp.Net Core MVC framework
We're sending the Json from above in the request body:
`[{ "op":"add", "path":"/fieldResponseModel/tranlsations/es-ES", "value":{ "language":"es-ES", "Value":"some translated value" } }]`

And it's recieved by the Controller with the following signature
`public async Task<IActionResult> PatchAsync(int entityI

[2017-10-10 21:50] jbagga commented on #96
@patrick-hampton-avalara I did some investigation.

In 2.0.0 and before, we had the `DictionaryAdapter` which threw the error you see [here](https://github.com/aspnet/JsonPatch/blob/rel/2.0.0/src/Microsoft.AspNetCore.JsonPatch/Internal/DictionaryAdapter.cs#L21).

In a recent change, `DictionaryAdapterOfTU` replaced the old adapter and converts the value to your C# object [here](https://github.com/

[2017-10-10 21:58] patrick-hampton-avalara commented on #96
@jbagga That's great news.  I'll try it out in a few days.

[2017-10-10 22:05] jbagga commented on #39
This is now supported as part of this PR 0f51c56. The key is converted to the type specified [here](https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/DictionaryAdapterOfTU.cs#L23).

There are also some tests for it https://github.com/aspnet/JsonPatch/blob/dev/test/Microsoft.AspNetCore.JsonPatch.Test/DictionaryAdapterTest.cs#L34.

cc @Eilon

[2017-10-11 16:17] Eilon commented on #39
@jbagga ah ok should we close this as a dup then?

[2017-10-11 16:17] Eilon commented on #96
@jbagga can we close this issue then?

[2017-10-11 18:02] #39 closed

[2017-10-11 18:03] jbagga commented on #96
Closing this as it was addressed as part of https://github.com/aspnet/JsonPatch/pull/106.

@patrick-hampton-avalara Let us know if you run into an issue!

[2017-10-11 18:03] #96 closed

[2017-10-11 21:19] jbagga opened #113 "Discussion: Use ContractResolver to create paths from expressions for json-patch"
`JsonPatchDocumentOfT.cs` will use the `ContractResolver` provided to get paths instead of forcing to lower case.

See announcement https://github.com/aspnet/Announcements/issues/273

[2017-10-11 21:21] #90 closed

[2017-10-19 18:27] jbagga commented on #105
`ExpandoObjectAdapter` was combined with `DictionaryAdapter`, so now it has unit tests. See [this](https://github.com/aspnet/JsonPatch/pull/106)

`PocoAdapter` unit tests were added [here](https://github.com/aspnet/JsonPatch/pull/114)

[2017-10-23 22:55] jbagga commented on #105
PR #117 cover 2., 3. and 5.

[2017-10-23 22:55] #1 closed

[2017-10-24 19:35] jbagga commented on #94
`Test` operation is now supported as part of #1. Please feel free to reopen this if you run into a problem.

[2017-10-24 19:35] #94 closed

[2017-10-25 09:38] MovGP0 opened #118 "Patching of readonly collections fails"
Given I have an Entity with an readonly collection like this:
[code]

Than it is not possible to patch it, besides the property beeing potentially writeable and also serializeable.

[2017-10-25 09:40] MovGP0 opened #119 "Patching of records (readonly entities) fails"
The following code does not work on readonly entities:
[code]

It should be possible to do something like this:

[code]

[2017-10-25 09:50] MovGP0 opened #120 "It should be possible to provide a custom JSON serializer"
Patching does not work when the entity uses custom datatypes that are not serializeable by default.

In my case, I use [NodaTime](https://nodatime.org/) to provide time-dependent information in a save manner:
[code]

[code]

Patching fails, since it cannot convert the ISO date string to an Instant, unless the global JSON serializer is set up to support those datatypes:

[code]

However, one might

[2017-10-25 09:52] MovGP0 commented on #119
One way of doing this would be to convert the readonly entity to an `Newtonsoft.Json.Linq.JObject`, apply the patches, and deserialize to the original datatype.

[2017-10-25 23:15] jbagga opened #121 "JToken and related Json.NET types are not handled by the current object adapters"
Our current adapters do not handle `JToken` (and related types like `JArray` and `JObject`) correctly. We can look into checking if the current contract is `JsonLinqContract` and write a new adapter or modify the dictionary or dynamic object adapters.

[2017-10-25 23:16] jbagga commented on #105
Shelving 1. for now. See #121

[2017-10-26 15:32] snebjorn opened #122 "What is the recommended way to integrate JsonPatchExceptions with ASP.NET Core?"
If `patchDocument.ApplyTo(objectToUpdate);` throws In your controller what is the recommended way to handle that?

I was thinking something like

[code]

[2017-10-26 17:14] rynowak commented on #122
There's an override of `ApplyTo` that takes modelstate: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Formatters.Json/JsonPatchExtensions.cs

[2017-10-26 19:51] #105 closed

[2017-10-27 08:50] snebjorn commented on #122
I totally missed that. Thank you!

[2017-10-27 08:50] #122 closed

[2017-11-04 17:25] Morcatko opened #123 "Patch fails if StringEnumConverter is used"
`JsonPatchDocument<T>.ApplyTo()` fails with `Microsoft.AspNetCore.JsonPatch.Exceptions.JsonPatchException: 'The value 'XXXX' is invalid for target location.'` in case the model has `[JsonConverter(typeof(StringEnumConverter))]` attribute and the client "replaces" this particular property

[code]

Following patch is properly parsed by InputFormatter, but will cause an exception when `ApplyTo()` is

[2017-11-06 17:06] arerlend opened #124 "Paths containing '.' trigger JsonPatchException"
In [/src/Microsoft.AspNetCore.JsonPatch/Internal/PathHelpers.cs](https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/PathHelpers.cs):

`if (path.Contains(".") || path.Contains("//") || path.Contains(" ") || path.Contains("\\"))
{
    throw new JsonPatchException(Resources.FormatInvalidValueForPath(path), null);
}`

The spec at jsonpatch.com doesn't ever specify

[2017-11-07 18:47] Eilon commented on #124
Yeah this just looks like a plain old bug. The JSON PATCH RFC Section 4 (https://tools.ietf.org/html/rfc6902#section-4) points at https://tools.ietf.org/html/rfc6901 to define allowed JSON paths, and I don't see any reason to disallow the `.` character.

[2017-11-07 18:48] Eilon commented on #124
@jbagga there's already a PR for this, so I'm assigning this bug to you to review & merge.

[2017-11-07 18:49] arerlend commented on #124
That's a far better spec.  Didn't realize it existed... TIL

[2017-11-07 19:24] #124 closed

[2017-11-07 19:25] rynowak commented on #124
Fixed by 70c8133 - thanks!

[2017-12-27 23:12] sachinpachori commented on #31
This is a common scenario where your DTO/viewmodel could be different from the Entities. In this case how to use this JSONPatch with ApplyTo function.  If possible, I think you should work on providing this feature.

[2017-12-27 23:13] rynowak commented on #31
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2017-12-27 23:19] sachinpachori opened #127 "Apply JsonPatch when set of properties are different in DTO than Entity"
This is a common scenario where your DTO/viewmodel could be different from the Entities. In this case how to use this JSONPatch with ApplyTo function. If possible, I think you should work on providing this feature.

[2018-01-01 20:57] aspnet-hello commented on #127
This issue was moved to aspnet/Home#2422

[2018-01-01 20:57] #127 closed

[2018-01-01 20:57] aspnet-hello commented on #123
This issue was moved to aspnet/Home#2423

[2018-01-01 20:57] #123 closed

[2018-01-01 20:59] aspnet-hello commented on #121
This issue was moved to aspnet/Home#2424

[2018-01-01 20:59] #121 closed

[2018-01-01 21:23] aspnet-hello commented on #120
This issue was moved to aspnet/Home#2425

[2018-01-01 21:23] #120 closed

[2018-01-01 21:23] aspnet-hello commented on #119
This issue was moved to aspnet/Home#2426

[2018-01-01 21:23] #119 closed

[2018-01-01 21:23] aspnet-hello commented on #118
This issue was moved to aspnet/Home#2427

[2018-01-01 21:23] #118 closed

[2018-01-01 21:25] aspnet-hello commented on #113
This issue was moved to aspnet/Home#2428

[2018-01-01 21:25] #113 closed

[2018-01-01 21:25] aspnet-hello commented on #109
This issue was moved to aspnet/Home#2429

[2018-01-01 21:25] #109 closed

[2018-01-01 21:25] aspnet-hello commented on #103
This issue was moved to aspnet/Home#2430

[2018-01-01 21:25] #103 closed

[2018-01-01 21:26] aspnet-hello commented on #88
This issue was moved to aspnet/Home#2431

[2018-01-01 21:26] #88 closed

[2018-01-01 21:26] aspnet-hello commented on #85
This issue was moved to aspnet/Home#2432

[2018-01-01 21:26] #85 closed

[2018-01-01 21:26] aspnet-hello commented on #77
This issue was moved to aspnet/Home#2433

[2018-01-01 21:26] #77 closed

[2018-01-01 21:27] aspnet-hello commented on #70
This issue was moved to aspnet/Home#2434

[2018-01-01 21:27] #70 closed

[2018-01-01 21:27] aspnet-hello commented on #69
This issue was moved to aspnet/Home#2435

[2018-01-01 21:27] #69 closed

[2018-01-01 21:28] aspnet-hello commented on #52
This issue was moved to aspnet/Home#2436

[2018-01-01 21:28] #52 closed

[2018-01-01 21:28] aspnet-hello commented on #2
This issue was moved to aspnet/Home#2437

[2018-01-01 21:28] #2 closed

[2018-01-02 22:26] Eilon opened #128 "THIS ISSUE TRACKER IS CLOSED - use the Home repo issue tracker"
Hello, this issue tracker is no longer used. Please log new issues here: https://github.com/aspnet/Home/issues

For information about this change, see https://github.com/aspnet/Announcements/issues/283

[2018-09-20 16:40] tannergooding commented on #110
@Eilon, @jbagga. I believe this should be re-opened.

The spec does not specify how the `replace` function should be implemented, but it does specify how the `replace` function should behave and it looks like @TAGC has clearly demonstrated a case where the current `replace` implementation is no longer functionally equivalent to a "remove", followed immediately by an "add".

From [RFC6902](https://

[2018-09-20 17:30] Eilon commented on #110
@mkArtakMSFT can you take a look?

[2018-09-20 21:51] TAGC commented on #110
@mkArtakMSFT For what it's worth, I did submit a PR for this already. https://github.com/aspnet/JsonPatch/pull/111

[2018-09-24 16:11] mkArtakMSFT commented on #110
@TAGC, we'll review the PR as is and if we think it looks good, I'll ask you to reopen it (or resubmit a new one with the same content) as I can't reopen the existing one.

[2018-09-25 07:28] TAGC commented on #110
@mkArtakMSFT Just re-submit the original commit I made, or rebase my changes first? If the latter, should it be on master? "dev" seems to have gone.

[2018-10-12 22:09] mkArtakMSFT commented on #110
This issue was moved to aspnet/AspNetCore#3623

[2018-10-12 22:09] #110 closed

[2018-11-15 07:02] #128 closed